i::before {
  font-size: 26px;
}

#menu i:hover,
#hamburger-icon i:hover {
  background-color: #f1f3f4;
}

i {
  padding: 10px 5px 10px 5px;
  border-radius: 50%;
  width: 35px;
}

a:link {
  text-decoration: none;
  color: #5f6368;
}

a:visited {
  color: #5f6368;
}

.icon-extend {
  visibility: hidden;
}

.fa-bars {
  color: #5f6368;
}
